@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

:root {
  --cell: calc(100vw / 12);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --transitionDuration: 0.2s;
  --wheel-spin-duration: 0.5s;
  --speedometer-rotation: -90deg;
  --font-family: "Work Sans", sans-serif;

  /* Indigo mixed with RebeccaPurple in various levels */
  --indigo-75: #520e88;
  --indigo-50: #581b8d;
  --indigo-25: #5f2793;
  --indigo-12: #632d96;

  /* 50% Plum on top of RebeccaPurple */
  --rebeccapurple-50: #a16abc;

  /* 25% Plum on top of RebeccaPurple */
  --rebeccapurple-25: #834faa;
}

@media (min-width: 576px) {
  :root {
    --cell: calc(576px / 12);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
}

button {
  appearance: none;
  background: Transparent;
  border: 0;
  font-family: var(--font-family);
}

html,
body {
  background: RebeccaPurple;
  height: 100%;
  overflow: hidden;
}

body {
  color: Lavender;
  font-family: var(--font-family);
  font-size: calc(var(--cell) * 0.5);
  font-weight: 600;
  line-height: calc(var(--cell) * 1);
}

#game {
  aspect-ratio: 2/1;
  margin: 96px auto 0;
  max-width: 576px;
  overflow: visible;
  position: relative;
  width: 100%;
}

#game .foreground {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;
}

.taxi {
  animation: bump 2s infinite;
  position: absolute;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 10;
}

.taxi::before {
  background: Transparent;
  background: url(sprites/taxi-body-yellower-chessboard.svg) no-repeat;
  background-size: 100%;
  content: "";
  height: calc(var(--cell) * 1.7708333333);
  left: calc(var(--cell) * -0.375);
  position: absolute;
  top: 0;
  width: calc(var(--cell) * 3.5625);
  z-index: 1;
}

.taxi[data-poke="up"] {
  animation: pokeUp 0.1s;
}

.taxi[data-poke="down"] {
  animation: pokeDown 0.1s;
}

@keyframes bump {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 calc(var(--cell) * -0.03125);
  }
  75% {
    translate: 0 calc(var(--cell) * 0.03125);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes pokeUp {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -5%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes pokeDown {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 5%;
  }
  100% {
    translate: 0 0;
  }
}

.taxi-wheels {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 11;
}

.taxi-wheel {
  bottom: 0;
  position: absolute;
  top: calc(var(--cell) * 1.625);
  transition: all var(--transitionDuration) var(--easeOutBack);
  width: calc(var(--cell) * 0.75);

  &.front {
    left: initial;
    right: calc(var(--cell) * 0.25);
  }

  &.rear {
    left: calc(var(--cell) * 0.125);
    right: initial;
  }

  .stretcher {
    background: Lavender;
    bottom: calc(var(--cell) * 0.375);
    left: 50%;
    position: absolute;
    top: 0;
    translate: -50%;
    width: calc(var(--cell) * 0.0625);

    &::before {
      background: Lavender;
      border-bottom: calc(var(--cell) * 0.0625) solid RebeccaPurple;
      content: "";
      height: 33.333%;
      left: 50%;
      position: absolute;
      top: 0;
      translate: -50%;
      width: calc(var(--cell) * 0.1875);
    }

    &::after {
      background: Lavender;
      border-bottom: calc(var(--cell) * 0.0625) solid RebeccaPurple;
      content: "";
      height: 33.333%;
      left: 50%;
      position: absolute;
      top: 33.333%;
      translate: -50%;
      width: calc(var(--cell) * 0.125);
    }
  }

  &::after {
    background: url(sprites/taxi-wheel.svg) no-repeat;
    background-size: 100%;
    bottom: 0;
    content: "";
    height: calc(var(--cell) * 0.75);
    left: 0;
    position: absolute;
    right: 0;
  }
}

#game[data-over="true"] {
  .taxi {
    animation-duration: 0s;
  }
  .taxi-wheel::after {
    animation-duration: 0s;
    border-color: hsl(275, 100%, 22.5%);
  }
  /* .scoreboard::before {
    animation-duration: 0s;
  } */
}

#game[data-over="true"][data-won="false"] {
  animation: shake var(--transitionDuration) var(--easeOutBack);
}

@keyframes shake {
  0% {
    translate: -1.25%;
  }
  50% {
    translate: 1.25%;
  }
  100% {
    translate: 0%;
  }
}

.front.wheel::after {
  left: initial !important;
  right: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  .cell {
    aspect-ratio: 1;
    outline: 1px dashed Turquoise;
    width: calc(100% / 12);
  }
}

.controls {
  aspect-ratio: 2/1;
  bottom: calc(var(--cell) * -3);
  display: flex;
  flex-direction: column;
  left: calc(var(--cell) * 1.5);
  margin: 0 auto;
  max-width: 576px;
  position: absolute;
  z-index: 12;

  button {
    align-items: center;
    background: RebeccaPurple;
    border-radius: calc(var(--cell) * 0.25);
    box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Coral,
      0 calc(var(--cell) * 0.25) 0 0 Coral;
    color: Lavender;
    cursor: pointer;
    display: flex;
    height: 50%;
    height: calc(var(--cell) * 1);
    justify-content: center;
    /* opacity: 0; */
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all 0.05s;
    width: calc(var(--cell) * 2);

    &::before {
      background: Coral;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover::before {
      opacity: 0.25;
    }

    &:active::before {
      opacity: 0.5;
    }

    &::after {
      border-color: Transparent Transparent GhostWhite Transparent;
      border-style: solid;
      border-width: 0 calc(var(--cell) * 0.25) calc(var(--cell) * 0.25)
        calc(var(--cell) * 0.25);
      content: "";
      display: block;
      height: 0px;
      rotate: 0deg;
      width: 0px;
    }

    &.up {
      z-index: 1;
    }
    &.down {
      z-index: 2;
    }

    &.down::after {
      rotate: 180deg;
    }

    &[data-pressed="true"] {
      box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Coral,
        0 calc(var(--cell) * 0.125) 0 0 Coral;
      translate: 0 calc(var(--cell) * 0.125);

      &::before {
        opacity: 0.25;
      }
    }
  }
}

button.restart {
  align-items: center;
  background: RebeccaPurple;
  border-radius: calc(var(--cell) * 0.25);
  box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) HotPink,
    0 calc(var(--cell) * 0.25) 0 0 HotPink;
  color: Lavender;
  cursor: pointer;
  display: flex;
  font-size: calc(var(--cell) * 0.4);
  height: 50%;
  height: calc(var(--cell) * 1);
  justify-content: center;
  letter-spacing: 0.1em;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  transition: all 0.05s;
  width: calc(var(--cell) * 2);
  z-index: 13;

  &.center {
    top: calc(var(--cell) * 2.375) !important;
    transition: top 2s;
    transition-delay: 2s;
  }

  span {
    position: relative;
  }

  &:active,
  &.pressed {
    box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) HotPink,
      0 calc(var(--cell) * 0.125) 0 0 HotPink;
    translate: 0 calc(var(--cell) * 0.125);

    &::before {
      opacity: 0.25;
    }
  }

  &::before {
    background: HotPink;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover::before {
    opacity: 0.25;
  }

  &:active::before {
    opacity: 0.5;
  }
}

.obstacle {
  position: absolute;
  z-index: 5;
}

/* TEMP */
.obstacle::before {
  background: Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.obstacle.stop {
  &::before {
    display: none;
  }

  &::after {
    background: url(sprites/stop-cone.svg) no-repeat;
    background-size: 100%;
    content: "";
    height: calc(var(--cell) * 3.6875);
    left: calc(var(--cell) * -0.125);
    position: absolute;
    top: calc(var(--cell) * 0.3125);
    width: calc(var(--cell) * 1.6875);
  }
}

@keyframes flashing {
  0% {
    box-shadow: 0 calc(var(--cell) * 0.375 * 1.5) calc(var(--cell) * 0) 0 Coral,
      0 calc(var(--cell) * 0.375 * 1.5) 0 0 Coral,
      0 calc(var(--cell) * 0.375 * 3) 0 0 Turquoise,
      0 0 0 calc(var(--cell) * 0.0625) hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 1.5) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 3) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%);
  }
  100% {
    box-shadow: 0 calc(var(--cell) * 0.375 * 1.5) calc(var(--cell) * 1)
        calc(var(--cell) * 0.5) Coral,
      0 calc(var(--cell) * 0.375 * 1.5) 0 0 Coral,
      0 calc(var(--cell) * 0.375 * 3) 0 0 Turquoise,
      0 0 0 calc(var(--cell) * 0.0625) hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 1.5) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 3) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%);
  }
}

.obstacle.signal {
  background: Indigo;
  border-radius: calc(var(--cell) * 0.25);
  box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) hsl(275, 100%, 15%);

  &::before {
    animation: flashing 1s steps(2) infinite;
    aspect-ratio: 1;
    background-color: DeepPink;
    box-shadow: 0 calc(var(--cell) * 0.375 * 1.5) calc(var(--cell) * 0) 0 Coral,
      0 calc(var(--cell) * 0.375 * 1.5) 0 0 Coral,
      0 calc(var(--cell) * 0.375 * 3) 0 0 Turquoise,
      0 0 0 calc(var(--cell) * 0.0625) hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 1.5) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%),
      0 calc(var(--cell) * 0.375 * 3) 0 calc(var(--cell) * 0.0625)
        hsl(275, 100%, 15%);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: calc(var(--cell) * 0.25);
    translate: -50%;
    width: calc(var(--cell) * 0.375);
  }

  &::after {
    border: calc(var(--cell) * 0.125) solid var(--indigo-50);
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 calc(var(--cell) * 0.5) 0 0;
    content: "";
    display: block;
    height: calc(var(--cell) * 5.5);
    position: absolute;
    right: calc(var(--cell) * -0.5);
    top: calc(var(--cell) * 0.5);
    width: calc(var(--cell) * 0.5);
  }
}

.obstacle.barrier {
  &::before {
    background: url(sprites/barrier-2.svg) no-repeat;
    background-size: 100%;
    content: "";
    height: calc(var(--cell) * 3.0625);
    left: calc(var(--cell) * -0.0625);
    position: absolute;
    top: calc(var(--cell) * -0.0625);
    width: calc(var(--cell) * 3.5);
  }
}

.obstacle.tunnel {
  &::before {
    display: none;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: red;
    border-radius: 0; */
  }

  &::after {
    background: url(sprites/tunnel.svg) no-repeat;
    background-size: 100%;
    content: "";
    height: calc(var(--cell) * 12);
    left: calc(var(--cell) * -2.0625);
    position: absolute;
    top: calc(var(--cell) * -10);
    width: calc(var(--cell) * 12.125);
  }
}

.foreground-tunnel {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    background: url(sprites/foreground-tunnel.svg) no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    height: calc(var(--cell) * 5);
    left: calc(var(--cell) * 0);
    opacity: 0.9;
    position: absolute;
    top: calc(var(--cell) * 1);
    width: calc(var(--cell) * 10.0625);
  }
}

.obstacle.billboard {
  &::before {
    display: none;
  }

  .ad {
    background: Lavender;
    bottom: calc(var(--cell) * 0.0625);
    left: calc(var(--cell) * 0.0625);
    position: absolute;
    right: calc(var(--cell) * 0.0625);
    top: calc(var(--cell) * 0.0625);
  }

  &::after {
    background: url(sprites/billboard.svg) no-repeat;
    background-size: 100%;
    content: "";
    height: calc(var(--cell) * 6);
    left: calc(var(--cell) * 0);
    position: absolute;
    top: calc(var(--cell) * 0);
    width: calc(var(--cell) * 9);
  }
}

.obstacle.car {
  &::before {
    display: none;
  }

  &::after {
    background: url(sprites/car-hatch.svg) no-repeat;
    background-position: center bottom;
    background-size: 100%;
    bottom: 0;
    content: "";
    left: calc(var(--cell) * -0.09375);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.obstacle.bus {
  position: absolute;

  &::before {
    background: HotPink;
    border: calc(var(--cell) * 0.0625) solid DeepPink;
    border-radius: calc(var(--cell) * 0.5) calc(var(--cell) * 0.75)
      calc(var(--cell) * 0.5) calc(var(--cell) * 1.5);
    bottom: calc(var(--cell) * 0.5);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: calc(var(--cell) * 0.25);
  }

  &::after {
    background: HotPink;
    border: calc(var(--cell) * 0.0625) solid DeepPink;
    border-bottom: none;
    border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.25) 0 0;
    bottom: calc(var(--cell) * 0.5);
    content: "";
    height: calc(var(--cell) * 0.25);
    left: calc(var(--cell) * 1);
    position: absolute;
    top: 0;
    width: calc(var(--cell) * 2);
  }

  .wheels {
    bottom: 0;
    height: calc(var(--cell) * 1);
    left: 0;
    position: absolute;
    right: 0;
    top: initial;

    &::before {
      aspect-ratio: 1;
      /* animation: spin var(--wheel-spin-duration) infinite linear; */
      background: RebeccaPurple;
      border: calc(var(--cell) * 0.25) solid Indigo;
      border-bottom-color: hsl(275, 100%, 20%);
      border-radius: 50%;
      border-top-color: hsl(275, 100%, 20%);
      bottom: 0;
      box-shadow: 0 0 0 calc(var(--cell) * 0) Indigo,
        inset 0 0 0 calc(var(--cell) * 0.0625) Lavender;
      content: "";
      display: flex;
      height: calc(var(--cell) * 1);
      left: calc(var(--cell) * 1.5);
      position: absolute;
      right: initial;
      width: calc(var(--cell) * 1);
    }

    &::after {
      aspect-ratio: 1;
      background: RebeccaPurple;
      border: calc(var(--cell) * 0.25) solid Indigo;
      border-bottom-color: hsl(275, 100%, 20%);
      border-radius: 50%;
      border-top-color: hsl(275, 100%, 20%);
      bottom: 0;
      box-shadow: 0 0 0 calc(var(--cell) * 0) Indigo,
        inset 0 0 0 calc(var(--cell) * 0.0625) Lavender;
      content: "";
      display: flex;
      height: calc(var(--cell) * 1);
      position: absolute;
      right: calc(var(--cell) * 0.5);
      /* transition: border-color 0.2s; */
      width: calc(var(--cell) * 1);
    }
  }

  .glass {
    background: Plum;
    background-image: linear-gradient(
      90deg,
      Transparent 93.25%,
      DeepPink 93.25%,
      DeepPink 100%
    );
    background-size: calc(var(--cell) * 1) calc(var(--cell) * 1);
    border-radius: calc(var(--cell) * 0.5) calc(var(--cell) * 0)
      calc(var(--cell) * 0) calc(var(--cell) * 0.5);
    box-shadow: 0 0 0 calc(var(--cell) * 0.0625) DeepPink;
    height: calc(var(--cell) * 1);
    left: calc(var(--cell) * 1);
    position: absolute;
    right: calc(var(--cell) * 0.0625);
    top: calc(var(--cell) * 1);

    &::before {
      background: Plum;
      border-radius: calc(var(--cell) * 0.5) 0 0 calc(var(--cell) * 0.5);
      bottom: calc(var(--cell) * -0.75);
      box-shadow: 0 0 0 calc(var(--cell) * 0.0625) DeepPink;
      content: "";
      display: block;
      height: calc(var(--cell) * 0.325);
      position: absolute;
      right: 0;
      width: calc(var(--cell) * 0.5);
    }

    &::after {
      border: calc(var(--cell) * 0.125) solid DeepPink;
      border-bottom: 0;
      border-left: 0;
      border-radius: calc(var(--cell) * 0.125) calc(var(--cell) * 0.25)
        calc(var(--cell) * 0.125) 0;
      content: "";
      display: block;
      height: calc(var(--cell) * 0.6125);
      position: absolute;
      right: calc(var(--cell) * -0.5);
      top: calc(var(--cell) * -0.125);
      width: calc(var(--cell) * 1);
    }
  }
}

/* .car::before {
  border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.75)
    calc(var(--cell) * 0.125) calc(var(--cell) * 0.125);
  bottom: calc(var(--cell) * 0.5);
} */

.impact {
  aspect-ratio: 1;
  /* background: DeepPink; */
  border: calc(var(--cell) * 0.25) solid DeepPink;
  border-radius: 50%;
  box-shadow: 0 0 24px rgba(76, 0, 130, 0.5),
    inset 0 0 24px rgba(76, 0, 130, 0.5);
  /* opacity: 0.75; */
  position: absolute;
  scale: 0.0625;
  transition: scale 0.1s var(--easeOutBack);
  translate: -50% -50%;
  z-index: 999;
}

.scoreboard {
  align-items: center;
  background: rgba(64, 224, 208, 0.5);
  border: calc(var(--cell) * 0.0625) solid var(--rebeccapurple-50);
  border-radius: calc(var(--cell) * 0.25);
  bottom: calc(var(--cell) * -3);
  box-shadow: 0 calc(var(--cell) * 0.25) 0 0 var(--rebeccapurple-50),
    inset 0 0 0 calc(var(--cell) * 0.0625) Indigo;
  color: Plum;
  display: flex;
  font-variant-numeric: tabular-nums;
  height: calc(var(--cell) * 2);
  justify-content: start;
  overflow: hidden;
  padding: calc(var(--cell) * 0.0625);
  position: absolute;
  right: calc(var(--cell) * 1.5);
  width: calc(var(--cell) * 4);
  z-index: 12;

  .progress {
    border-radius: calc(var(--cell) * 0.125);
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      background: Turquoise;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.25;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .indicator {
      background: Turquoise;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: left center;
      width: 100%;
    }
  }

  .time {
    align-items: center;
    bottom: 0;
    color: Indigo;
    display: flex;
    font-size: calc(var(--cell) * 0.75);
    justify-content: center;
    left: 0;
    position: relative;
    position: absolute;
    right: 0;
    text-shadow: GhostWhite 2px 0px 0px, GhostWhite 1.75517px 0.958851px 0px,
      GhostWhite 1.0806px 1.68294px 0px, GhostWhite 0.141474px 1.99499px 0px,
      GhostWhite -0.832294px 1.81859px 0px, GhostWhite -1.60229px 1.19694px 0px,
      GhostWhite -1.97998px 0.28224px 0px, GhostWhite -1.87291px -0.701566px 0px,
      GhostWhite -1.30729px -1.5136px 0px, GhostWhite -0.421592px -1.95506px 0px,
      GhostWhite 0.567324px -1.91785px 0px, GhostWhite 1.41734px -1.41108px 0px,
      GhostWhite 1.92034px -0.558831px 0px;
    top: 0;
  }
}

/*
.scoreboard::before {
  animation: shift 0.2s infinite linear;
  background-image: linear-gradient(
    90deg,
    Lavender 0%,
    Lavender 25%,
    Transparent 25%,
    Transparent 100%
  );
  background-repeat: repeat-x;
  background-size: calc(var(--cell) * 4) 100%;
  content: "";
  display: block;
  height: calc(var(--cell) * 0.0625);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + calc(var(--cell) * 1));
}

@keyframes shift {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(var(--cell) * -4);
  }
}
*/

.speedometer {
  background: Indigo;
  border: calc(var(--cell) * 0.0625) solid var(--rebeccapurple-50);
  border-radius: calc(var(--cell) * 0.25);
  bottom: calc(var(--cell) * -3);
  box-shadow: 0 calc(var(--cell) * 0.25) 0 0 var(--rebeccapurple-50);
  height: calc(var(--cell) * 2);
  left: calc(var(--cell) * 4);
  position: absolute;
  width: calc(var(--cell) * 2);
  z-index: 12;

  &::before {
    border: calc(var(--cell) * 0.0625) dotted Lavender;
    border-bottom: calc(var(--cell) * 0.0625) solid Transparent;
    border-radius: 50%;
    bottom: calc(var(--cell) * 0.25);
    content: "";
    left: calc(var(--cell) * 0.25);
    position: absolute;
    right: calc(var(--cell) * 0.25);
    top: calc(var(--cell) * 0.25);
  }

  .indicator {
    bottom: calc(var(--cell) * 0.375);
    left: 50%;
    overflow: hidden;
    position: absolute;
    rotate: var(--speedometer-rotation);
    top: calc(var(--cell) * 0.375);
    translate: -50% 0;
    width: calc(var(--cell) * 0.125);

    &::before {
      background: DeepPink;
      border-radius: calc(var(--cell) * 0.0625);
      content: "";
      height: 66.666%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &::after {
    background: GhostWhite;
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(var(--cell) * 0.125);
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: calc(var(--cell) * 0.125);
  }
}

.trees {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.tree {
  bottom: calc(var(--cell) * 0);
  height: calc(var(--cell) * 2);
  /* overflow-y: hidden;
  overflow-x: visible; */
  position: absolute;
  width: calc(var(--cell) * 1);

  .leaves {
    align-items: center;
    aspect-ratio: 1;
    background: RebeccaPurple;
    border: calc(var(--cell) * 0.0625) solid var(--indigo-25);
    border-radius: calc(var(--cell) * 1);
    content: "";
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      background: var(--indigo-25);
      border-radius: 999px;
      bottom: 37.5%;
      content: "";
      display: block;
      height: 18.75%;
      left: 50%;
      position: absolute;
      rotate: -45deg;
      transform-origin: 50% 100%;
      translate: -50%;
      width: calc(var(--cell) * 0.0625);
    }

    &::after {
      background: var(--indigo-25);
      border-radius: 999px;
      bottom: 25%;
      content: "";
      display: block;
      height: 18.75%;
      left: 50%;
      position: absolute;
      right: 0;
      rotate: 45deg;
      transform-origin: 50% 100%;
      translate: -50%;
      width: calc(var(--cell) * 0.0625);
    }
  }

  .trunk {
    background: var(--indigo-25);
    border-radius: 999px 999px 0 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: calc(var(--cell) * 0.5);
    translate: -50%;
    width: calc(var(--cell) * 0.0625);
  }

  .ground {
    background: var(--indigo-25);
    border-radius: calc(var(--cell) * 0.5) calc(var(--cell) * 0.5) 0 0;
    bottom: 0;
    /* top: 0; */
    left: 0;
    position: absolute;
  }
}

.sky {
  background: linear-gradient(RebeccaPurple, rgba(255, 99, 71, 0.25));
  bottom: 0;
  height: 100%;
  left: 50%;
  position: absolute;
  translate: -50%;
  width: 100%;
  z-index: 1;
}

.road {
  /* border-bottom: calc(var(--cell) * 0.0625) solid Indigo; */
  /* bottom: calc(var(--cell) * -0.125); */
  bottom: 0;
  height: 100%;
  /* height: calc(var(--cell) * 0.0625); */
  left: 50%;
  pointer-events: none;
  position: absolute;
  translate: -50%;
  width: 100%;
  z-index: 11;

  &::before {
    background: linear-gradient(Indigo, RebeccaPurple);
    background-color: red;
    /* https://www.joshwcomeau.com/gradient-generator/ */
    background-image: linear-gradient(
      180deg,
      hsl(275deg 100% 25%) 0%,
      hsl(272deg 77% 29%) 21%,
      hsl(271deg 70% 31%) 30%,
      hsl(271deg 65% 33%) 39%,
      hsl(270deg 61% 34%) 46%,
      hsl(270deg 58% 36%) 54%,
      hsl(270deg 56% 37%) 61%,
      hsl(270deg 53% 38%) 69%,
      hsl(270deg 52% 39%) 79%,
      hsl(270deg 50% 40%) 100%
    );
    bottom: -50%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

@keyframes takeoff {
  0% {
    rotate: 0deg;
    translate: calc(var(--cell) * -5) 0;
  }
  50% {
    rotate: -15deg;
  }
  100% {
    rotate: -15deg;
    translate: calc(var(--cell) * 8) calc(var(--cell) * -16);
  }
}

.airplane {
  animation: takeoff calc(var(--transitionDuration) * 24);
  animation-delay: calc(var(--transitionDuration) * 2);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background: Coral;
  position: absolute;
  transform-origin: left bottom;
  translate: calc(var(--cell) * -5) 0;
  z-index: 10;
}

.airport {
  background-color: Blue;
  position: absolute;
  z-index: 11;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 6px, 0);
  }
}

body::after {
  /* animation: scanline 2s infinite linear; */
  background: repeating-linear-gradient(
    transparent,
    transparent 2px,
    Coral 2px,
    Indigo 3px
  );
  background-position: center center;
  background-size: auto 100%;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.25;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: -6px;
  z-index: 1000;
}
