@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

:root {
  --cell: calc(100vw / 12);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --transitionDuration: 0.2s;
  --wheel-spin-duration: 0.5s;
  --speedometer-rotation: -90deg;
  --font-family: "Work Sans", sans-serif;
}

@media (min-width: 576px) {
  :root {
    --cell: calc(576px / 12);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

button {
  appearance: none;
  background: Transparent;
  border: 0;
  font-family: var(--font-family);
}

html,
body {
  background: RebeccaPurple;
  height: 100%;
  overflow: hidden;
}

body {
  color: Lavender;
  font-family: var(--font-family);
  font-size: calc(var(--cell) * 0.5);
  font-weight: 600;
  line-height: calc(var(--cell) * 1);
}

#game {
  aspect-ratio: 2/1;
  /* background: rebeccapurple; */
  margin: 16px auto;
  max-width: 576px;
  overflow: visible;
  position: relative;
  width: 100%;
}

.taxi {
  animation: bump 2s infinite;
  background: Tomato;
  border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.75)
    calc(var(--cell) * 0.125) calc(var(--cell) * 0.125);
  overflow: hidden;
  position: absolute;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 10;
}

/* .taxi::before {
  background: Transparent;
  border-radius: 50%;
  bottom: calc(var(--cell) * -0.5);
  box-shadow: ;
  box-shadow: 0 0 0 calc(var(--cell) * 0.0625) rgba(102, 51, 153, 0.125),
    inset 0 0 0 calc(var(--cell) * 1) rgba(102, 51, 153, 0.125),
    calc(var(--cell) * 2) 0 0 calc(var(--cell) * 0.0625)
      rgba(102, 51, 153, 0.125);
  content: "";
  height: calc(var(--cell) * 1);
  left: 0;
  position: absolute;
  width: calc(var(--cell) * 1);
  z-index: 1;
} */

.taxi::after {
  background: Indigo;
  border-radius: calc(var(--cell) * 0.125) 0 0 calc(var(--cell) * 0.5);
  content: "";
  display: block;
  height: calc(var(--cell) * 0.333);
  position: absolute;
  right: 0;
  top: calc(var(--cell) * 0.333);
  width: calc(var(--cell) * 1);
  z-index: 1;
}

.taxi[data-poke="up"] {
  animation: pokeUp 0.1s;
}

.taxi[data-poke="down"] {
  animation: pokeDown 0.1s;
}

@keyframes bump {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 calc(var(--cell) * -0.03125);
  }
  75% {
    translate: 0 calc(var(--cell) * 0.03125);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes pokeUp {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -5%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes pokeDown {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 5%;
  }
  100% {
    translate: 0 0;
  }
}

.wheels {
  /* background: black; */
  bottom: 0;
  position: absolute;
  top: 100%;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 11;
}

.wheel {
  bottom: 0;
  height: 100%;
  position: absolute;
  transition: all var(--transitionDuration) var(--easeOutBack);
  width: 100%;
}

.wheel::before {
  border-left: calc(var(--cell) * 0.125) solid Lavender;
  border-right: calc(var(--cell) * 0.125) solid Lavender;
  bottom: calc(var(--cell) * 0.5);
  content: "";
  left: calc(var(--cell) * 0.5);
  position: absolute;
  right: calc(var(--cell) * 0.5);
  top: calc(var(--cell) * 1.5);
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: -1;
}

.wheel::after {
  animation: spin var(--wheel-spin-duration) infinite linear;
  background: RebeccaPurple;
  border: calc(var(--cell) * 0.25) solid Indigo;
  border-bottom-color: hsl(275, 100%, 20%);
  border-radius: 50%;
  border-top-color: hsl(275, 100%, 20%);
  bottom: 0;
  box-shadow: 0 0 0 calc(var(--cell) * 0.0625) RebeccaPurple,
    inset 0 0 0 calc(var(--cell) * 0.0625) Lavender;
  content: "";
  display: flex;
  height: calc(var(--cell) * 1);
  position: absolute;
  transition: border-color 0.2s;
  width: calc(var(--cell) * 1);
}

#game[data-over="true"] {
  .taxi {
    animation-duration: 0s;
  }
  .wheel::after {
    animation-duration: 0s;
    border-color: hsl(275, 100%, 22.5%);
  }
  /* .scoreboard::before {
    animation-duration: 0s;
  } */
}

#game[data-over="true"][data-won="false"] {
  animation: shake var(--transitionDuration) var(--easeOutBack);
}

@keyframes shake {
  0% {
    translate: -1.25%;
  }
  50% {
    translate: 1.25%;
  }
  100% {
    translate: 0%;
  }
}

.front.wheel::after {
  left: initial !important;
  right: 0;
}

.grid {
  display: flex;
  display: none;
  flex-wrap: wrap;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  .cell {
    aspect-ratio: 1;
    outline: 1px dashed Turquoise;
    width: calc(100% / 12);
  }
}

.controls {
  aspect-ratio: 2/1;
  bottom: calc(var(--cell) * -3);
  display: flex;
  flex-direction: column;
  left: calc(var(--cell) * 1.5);
  margin: 0 auto;
  max-width: 576px;
  position: absolute;

  button {
    align-items: center;
    background: RebeccaPurple;
    border-radius: calc(var(--cell) * 0.25);
    box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Tomato,
      0 calc(var(--cell) * 0.25) 0 0 Tomato;
    color: Lavender;
    cursor: pointer;
    display: flex;
    height: 50%;
    height: calc(var(--cell) * 1);
    justify-content: center;
    /* opacity: 0; */
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all 0.05s;
    width: calc(var(--cell) * 2);

    &::before {
      background: Tomato;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover::before {
      opacity: 0.25;
    }

    &:active::before {
      opacity: 0.5;
    }

    &::after {
      border-color: Transparent Transparent GhostWhite Transparent;
      border-style: solid;
      border-width: 0 calc(var(--cell) * 0.25) calc(var(--cell) * 0.25)
        calc(var(--cell) * 0.25);
      content: "";
      display: block;
      height: 0px;
      rotate: 0deg;
      width: 0px;
    }

    &.up {
      z-index: 1;
    }
    &.down {
      z-index: 2;
    }

    &.down::after {
      rotate: 180deg;
    }

    &[data-pressed="true"] {
      box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Tomato,
        0 calc(var(--cell) * 0.125) 0 0 Tomato;
      translate: 0 calc(var(--cell) * 0.125);

      &::before {
        opacity: 0.25;
      }
    }
  }
}

.obstacle {
  position: absolute;
  z-index: 5;
}

.obstacle::before {
  background: Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* .car::before {
  border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.75)
    calc(var(--cell) * 0.125) calc(var(--cell) * 0.125);
  bottom: calc(var(--cell) * 0.5);
} */

.impact {
  aspect-ratio: 1;
  /* background: DeepPink; */
  border: calc(var(--cell) * 0.25) solid DeepPink;
  border-radius: 50%;
  /* opacity: 0.75; */
  position: absolute;
  scale: 0.0625;
  transition: scale 0.1s var(--easeOutBack);
  translate: -50% -50%;
  z-index: 11;
}

.scoreboard {
  align-items: center;
  background: rgba(64, 224, 208, 0.5);
  border: calc(var(--cell) * 0.0625) solid Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: calc(var(--cell) * -3);
  box-shadow: 0 calc(var(--cell) * 0.25) 0 0 Plum,
    inset 0 0 0 calc(var(--cell) * 0.0625) Indigo;
  color: Plum;
  display: flex;
  font-variant-numeric: tabular-nums;
  height: calc(var(--cell) * 2);
  justify-content: start;
  overflow: hidden;
  padding: calc(var(--cell) * 0.0625);
  position: absolute;
  right: calc(var(--cell) * 1.5);
  width: calc(var(--cell) * 4);

  .progress {
    border-radius: calc(var(--cell) * 0.125);
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before {
      background: Turquoise;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.25;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .indicator {
      background: Turquoise;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .time {
    align-items: center;
    bottom: 0;
    color: Indigo;
    display: flex;
    font-size: calc(var(--cell) * 0.75);
    justify-content: center;
    left: 0;
    position: relative;
    position: absolute;
    right: 0;
    text-shadow: GhostWhite 2px 0px 0px, GhostWhite 1.75517px 0.958851px 0px,
      GhostWhite 1.0806px 1.68294px 0px, GhostWhite 0.141474px 1.99499px 0px,
      GhostWhite -0.832294px 1.81859px 0px, GhostWhite -1.60229px 1.19694px 0px,
      GhostWhite -1.97998px 0.28224px 0px, GhostWhite -1.87291px -0.701566px 0px,
      GhostWhite -1.30729px -1.5136px 0px, GhostWhite -0.421592px -1.95506px 0px,
      GhostWhite 0.567324px -1.91785px 0px, GhostWhite 1.41734px -1.41108px 0px,
      GhostWhite 1.92034px -0.558831px 0px;
    top: 0;
  }
}

/*
.scoreboard::before {
  animation: shift 0.2s infinite linear;
  background-image: linear-gradient(
    90deg,
    Lavender 0%,
    Lavender 25%,
    Transparent 25%,
    Transparent 100%
  );
  background-repeat: repeat-x;
  background-size: calc(var(--cell) * 4) 100%;
  content: "";
  display: block;
  height: calc(var(--cell) * 0.0625);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + calc(var(--cell) * 1));
}

@keyframes shift {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(var(--cell) * -4);
  }
}
*/

.speedometer {
  background: Indigo;
  border: calc(var(--cell) * 0.0625) solid Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: calc(var(--cell) * -3);
  box-shadow: 0 calc(var(--cell) * 0.25) 0 0 Plum;
  height: calc(var(--cell) * 2);
  left: calc(var(--cell) * 4);
  position: absolute;
  width: calc(var(--cell) * 2);
  z-index: 1;

  &::before {
    border: calc(var(--cell) * 0.0625) dotted Lavender;
    border-bottom: calc(var(--cell) * 0.0625) solid Transparent;
    border-radius: 50%;
    bottom: calc(var(--cell) * 0.25);
    content: "";
    left: calc(var(--cell) * 0.25);
    position: absolute;
    right: calc(var(--cell) * 0.25);
    top: calc(var(--cell) * 0.25);
  }

  .indicator {
    bottom: calc(var(--cell) * 0.375);
    left: 50%;
    overflow: hidden;
    position: absolute;
    rotate: var(--speedometer-rotation);
    top: calc(var(--cell) * 0.375);
    translate: -50% 0;
    width: calc(var(--cell) * 0.125);

    &::before {
      background: DeepPink;
      border-radius: calc(var(--cell) * 0.0625);
      content: "";
      height: 66.666%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &::after {
    background: GhostWhite;
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(var(--cell) * 0.125);
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: calc(var(--cell) * 0.125);
  }
}

.tree {
  bottom: calc(var(--cell) * 0);
  height: calc(var(--cell) * 2);
  opacity: 1;
  overflow: hidden;
  position: absolute;
  width: calc(var(--cell) * 1);
  z-index: 1;

  .leaves {
    align-items: center;
    aspect-ratio: 1;
    background-color: rgba(76, 0, 130, 0.5);
    border: calc(var(--cell) * 0.0625) solid Indigo;
    border-radius: calc(var(--cell) * 1);
    content: "";
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      background: Indigo;
      border-radius: 999px;
      bottom: 37.5%;
      content: "";
      display: block;
      height: 18.75%;
      left: 50%;
      position: absolute;
      rotate: -45deg;
      transform-origin: 50% 100%;
      translate: -50%;
      width: calc(var(--cell) * 0.0625);
    }

    &::after {
      background: Indigo;
      border-radius: 999px;
      bottom: 25%;
      content: "";
      display: block;
      height: 18.75%;
      left: 50%;
      position: absolute;
      right: 0;
      rotate: 45deg;
      transform-origin: 50% 100%;
      translate: -50%;
      width: calc(var(--cell) * 0.0625);
    }
  }

  .trunk {
    background: Indigo;
    border-radius: 999px 999px 0 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: calc(var(--cell) * 0.5);
    translate: -50%;
    width: calc(var(--cell) * 0.0625);
  }
}
