:root {
  --cell: calc(100vw / 12);
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --transitionDuration: 0.2s;
  --wheel-spin-duration: 0.5s;
  --speedometer-rotation: -90deg;
}

@media (min-width: 576px) {
  :root {
    --cell: calc(576px / 12);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  font-weight: bolder;
}

html,
body {
  background: RebeccaPurple;
  height: 100%;
  overflow: hidden;
}

body {
  color: Lavender;
  font-family: "Courier New", Courier, monospace;
  font-size: calc(var(--cell) * 0.5);
  font-weight: bolder;
  line-height: calc(var(--cell) * 1);
}

#game {
  aspect-ratio: 2/1;
  /* background: rebeccapurple; */
  margin: 16px auto;
  max-width: 576px;
  overflow: visible;
  position: relative;
  width: 100%;
}

.taxi {
  animation: bump 2s infinite;
  background: Tomato;
  border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.75)
    calc(var(--cell) * 0.125) calc(var(--cell) * 0.125);
  overflow: hidden;
  position: absolute;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 10;
}

/* .taxi::before {
  background: Transparent;
  border-radius: 50%;
  bottom: calc(var(--cell) * -0.5);
  box-shadow: ;
  box-shadow: 0 0 0 calc(var(--cell) * 0.0625) rgba(102, 51, 153, 0.125),
    inset 0 0 0 calc(var(--cell) * 1) rgba(102, 51, 153, 0.125),
    calc(var(--cell) * 2) 0 0 calc(var(--cell) * 0.0625)
      rgba(102, 51, 153, 0.125);
  content: "";
  height: calc(var(--cell) * 1);
  left: 0;
  position: absolute;
  width: calc(var(--cell) * 1);
  z-index: 1;
} */

.taxi::after {
  background: Indigo;
  border-radius: calc(var(--cell) * 0.125) 0 0 calc(var(--cell) * 0.5);
  content: "";
  display: block;
  height: calc(var(--cell) * 0.333);
  position: absolute;
  right: 0;
  top: calc(var(--cell) * 0.333);
  width: calc(var(--cell) * 1);
  z-index: 1;
}

.taxi[data-poke="up"] {
  animation: pokeUp 0.1s;
}

.taxi[data-poke="down"] {
  animation: pokeDown 0.1s;
}

@keyframes bump {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 0 calc(var(--cell) * -0.03125);
  }
  75% {
    translate: 0 calc(var(--cell) * 0.03125);
  }
  100% {
    translate: 0 0;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes pokeUp {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -5%;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes pokeDown {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 5%;
  }
  100% {
    translate: 0 0;
  }
}

.wheels {
  /* background: black; */
  bottom: 0;
  position: absolute;
  top: 100%;
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: 11;
}

.wheel {
  bottom: 0;
  height: 100%;
  position: absolute;
  transition: all var(--transitionDuration) var(--easeOutBack);
  width: 100%;
}

.wheel::before {
  border-left: calc(var(--cell) * 0.125) solid Lavender;
  border-right: calc(var(--cell) * 0.125) solid Lavender;
  bottom: calc(var(--cell) * 0.5);
  content: "";
  left: calc(var(--cell) * 0.5);
  position: absolute;
  right: calc(var(--cell) * 0.5);
  top: calc(var(--cell) * 1.5);
  transition: all var(--transitionDuration) var(--easeOutBack);
  z-index: -1;
}

.wheel::after {
  animation: spin var(--wheel-spin-duration) infinite linear;
  background: RebeccaPurple;
  border: calc(var(--cell) * 0.25) solid Indigo;
  border-bottom-color: hsl(275, 100%, 20%);
  border-radius: 50%;
  border-top-color: hsl(275, 100%, 20%);
  bottom: 0;
  box-shadow: 0 0 0 calc(var(--cell) * 0.0625) RebeccaPurple,
    inset 0 0 0 calc(var(--cell) * 0.0625) Lavender;
  content: "";
  display: flex;
  height: calc(var(--cell) * 1);
  position: absolute;
  transition: border-color 0.2s;
  width: calc(var(--cell) * 1);
}

#game[data-over="true"] {
  animation: shake var(--transitionDuration) var(--easeOutBack);

  .taxi {
    animation-duration: 0s;
  }
  .wheel::after {
    animation-duration: 0s;
    border-color: hsl(275, 100%, 22.5%);
  }
  .scoreboard::before {
    animation-duration: 0s;
  }
}

@keyframes shake {
  0% {
    translate: -1.25%;
  }
  50% {
    translate: 1.25%;
  }
  100% {
    translate: 0%;
  }
}

.front.wheel::after {
  left: initial !important;
  right: 0;
}

.grid {
  display: flex;
  /* display: none; */
  flex-wrap: wrap;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  .cell {
    aspect-ratio: 1;
    outline: 1px dashed Turquoise;
    width: calc(100% / 12);
  }
}

.controls {
  aspect-ratio: 2/1;
  bottom: calc(var(--cell) * -3);
  display: flex;
  flex-direction: column;
  left: calc(var(--cell) * 1.5);
  margin: 0 auto;
  max-width: 576px;
  position: absolute;

  button {
    align-items: center;
    background: RebeccaPurple;
    border-radius: calc(var(--cell) * 0.25);
    box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Tomato,
      0 calc(var(--cell) * 0.25) 0 0 Tomato;
    color: Lavender;
    cursor: pointer;
    display: flex;
    height: 50%;
    height: calc(var(--cell) * 1);
    justify-content: center;
    /* opacity: 0; */
    outline: none;
    overflow: hidden;
    position: relative;
    transition: all 0.05s;
    width: calc(var(--cell) * 2);

    &::before {
      background: Tomato;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover::before {
      opacity: 0.25;
    }

    &:active::before {
      opacity: 0.5;
    }

    &::after {
      content: "▶";
      display: block;
      font-size: calc(var(--cell) * 0.5);
      height: var(--cell);
      line-height: var(--cell);
      width: var(--cell);
    }

    &.up {
      z-index: 1;
    }
    &.down {
      z-index: 1;
    }

    &.up::after {
      rotate: -90deg;
    }

    &.down::after {
      rotate: 90deg;
    }

    &[data-pressed="true"] {
      box-shadow: inset 0 0 0 calc(var(--cell) * 0.0625) Tomato,
        0 calc(var(--cell) * 0.125) 0 0 Tomato;
      translate: 0 calc(var(--cell) * 0.125);

      &::before {
        opacity: 0.25;
      }
    }
  }
}

.obstacle {
  position: absolute;
}

.obstacle::before {
  background: Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* .car::before {
  border-radius: calc(var(--cell) * 0.25) calc(var(--cell) * 0.75)
    calc(var(--cell) * 0.125) calc(var(--cell) * 0.125);
  bottom: calc(var(--cell) * 0.5);
} */

.impact {
  aspect-ratio: 1;
  /* background: DeepPink; */
  border: calc(var(--cell) * 0.25) solid DeepPink;
  border-radius: 50%;
  /* opacity: 0.75; */
  position: absolute;
  scale: 0.0625;
  transition: scale 0.1s var(--easeOutBack);
  translate: -50% -50%;
  z-index: 11;
}

.scoreboard {
  border: calc(var(--cell) * 0.0625) solid Plum;
  border-radius: calc(var(--cell) * 0.25);
  /* border-top: calc(var(--cell) * 0.0625) solid currentColor; */
  bottom: calc(var(--cell) * -3);
  color: Plum;
  display: flex;
  height: calc(var(--cell) * 2);
  justify-content: space-between;
  padding: 0 calc(var(--cell) * 0.25);
  position: absolute;
  right: 0;
  width: calc(var(--cell) * 5.5);
}

/*
.scoreboard::before {
  animation: shift 0.2s infinite linear;
  background-image: linear-gradient(
    90deg,
    Lavender 0%,
    Lavender 25%,
    Transparent 25%,
    Transparent 100%
  );
  background-repeat: repeat-x;
  background-size: calc(var(--cell) * 4) 100%;
  content: "";
  display: block;
  height: calc(var(--cell) * 0.0625);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + calc(var(--cell) * 1));
}

@keyframes shift {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(var(--cell) * -4);
  }
}
*/

.speedometer {
  background: Indigo;
  border: calc(var(--cell) * 0.0625) solid Plum;
  border-radius: calc(var(--cell) * 0.25);
  bottom: calc(var(--cell) * -3);
  box-shadow: 0 calc(var(--cell) * 0.25) 0 0 Plum;
  height: calc(var(--cell) * 2);
  left: calc(var(--cell) * 4);
  position: absolute;
  width: calc(var(--cell) * 2);
  z-index: 1;

  &::before {
    border: calc(var(--cell) * 0.0625) dotted Lavender;
    border-bottom: calc(var(--cell) * 0.0625) solid transparent;
    border-radius: 50%;
    bottom: calc(var(--cell) * 0.25);
    content: "";
    left: calc(var(--cell) * 0.25);
    position: absolute;
    right: calc(var(--cell) * 0.25);
    top: calc(var(--cell) * 0.25);
  }

  .indicator {
    bottom: calc(var(--cell) * 0.375);
    left: 50%;
    overflow: hidden;
    position: absolute;
    rotate: var(--speedometer-rotation);
    top: calc(var(--cell) * 0.375);
    translate: -50% 0;
    width: calc(var(--cell) * 0.125);

    &::before {
      background: DeepPink;
      content: "";
      height: 66.666%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: calc(var(--cell) * 0.0625);
    }
  }

  &::after {
    background: GhostWhite;
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(var(--cell) * 0.125);
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: calc(var(--cell) * 0.125);
  }
}
